# Joining the 2018 data (with new variables) to incarceration rates by state

In [1]:
import pandas as pd
import numpy as np

In [8]:
!pwd

/Users/alexandrawest/Desktop/W210-Capstone/joins

In [9]:
df_2018 = pd.read_csv("/Users/alexandrawest/Desktop/W210-Capstone/new-var-2018/2018_new-var_mapped_processed.csv")
df_2018.head()

,Geographic-division,area-code,region,state,RT,person-weight,age,citizenship-status,class-worker,education,...,occupation,relationship,race,sex,extra-income,hours-per-week,field-of-degree,place-of-birth,income,stem-degree
0,New England,704,Northeast,MA,P,88,48,Born-PR-Guam-USvirginislands-northernmarianas,State-gov,GED,...,PRT-Correctional Officers and Jailers,unmarried-partner,white-alone,male,0.0,40.0,NaN,Puerto Rico,77000.0,NaN
1,New England,704,Northeast,MA,P,78,47,Born-US,Private-prof,master,...,"CMS-Social Workers, All Other",spouse,white-alone,female,0.0,40.0,Psychology,New York/NY,75000.0,Yes
2,South Atlantic,1101,South,FL,P,51,50,Born-US,Private-prof,bachelor,...,SAL-Real Estate Brokers And Sales Agents,ref,white-alone,male,0.0,50.0,Accounting,Michigan/MI,80000.0,No
3,West North Central,1301,Midwest,MN,P,34,19,Born-US,Private-prof,some-college-less1,...,MGR-Facilities Managers,noninstitutional-group,white-alone,female,0.0,8.0,NaN,Minnesota/MN,4800.0,NaN
4,East North Central,1100,Midwest,MI,P,107,24,Born-US,Private-prof,bachelor,...,HLS-Veterinary Assistants And Laboratory Anima...,ref,white-alone,female,0.0,40.0,Multi-Disciplinary Or General Science,Michigan/MI,10000.0,Yes

In [15]:
df_inc = pd.read_csv("incarceration_rates_2010.csv")
df_inc.head()

,State,Incarceration rate per 100000,Incarceration rate: White alone,Incarceration rate: Black or African American alone,Incarceration rate: American Indian and Alaska Native alone,Incarceration rate: Asian alone,Incarceration rate: Native Hawaiian and other Pacific Islander alone,Incarceration rate: Some other race alone,Incarceration rate: Two or more races,Incarceration rate: Hispanic or Latino,"Incarceration rate: White alone, not Hispanic or Latino"
0,AL,861.491095,552.208375,1788.284447,283.506981,106.353205,98.135427,292.023527,407.011831,766.694324,535.326092
1,AK,592.201692,382.620741,1293.900185,1505.659334,115.379573,661.357808,279.228968,751.807229,649.698082,369.849776
2,AZ,1060.181786,774.781712,3183.685446,2267.231873,642.915759,8135.673624,1690.393795,731.562071,1452.867294,633.366769
3,AR,886.307503,616.596347,2432.345325,750.629270,318.541909,170.561146,555.382591,371.864585,915.345337,592.877101
4,CA,689.341556,605.996084,3036.268547,996.414012,94.424879,617.788428,703.884463,188.775488,756.679936,453.449136

In [18]:
# make a copy of df_2018 that we will join to

df_2018_inc = df_2018.copy()
df_2018_inc.head()

,Geographic-division,area-code,region,state,RT,person-weight,age,citizenship-status,class-worker,education,...,occupation,relationship,race,sex,extra-income,hours-per-week,field-of-degree,place-of-birth,income,stem-degree
0,New England,704,Northeast,MA,P,88,48,Born-PR-Guam-USvirginislands-northernmarianas,State-gov,GED,...,PRT-Correctional Officers and Jailers,unmarried-partner,white-alone,male,0.0,40.0,NaN,Puerto Rico,77000.0,NaN
1,New England,704,Northeast,MA,P,78,47,Born-US,Private-prof,master,...,"CMS-Social Workers, All Other",spouse,white-alone,female,0.0,40.0,Psychology,New York/NY,75000.0,Yes
2,South Atlantic,1101,South,FL,P,51,50,Born-US,Private-prof,bachelor,...,SAL-Real Estate Brokers And Sales Agents,ref,white-alone,male,0.0,50.0,Accounting,Michigan/MI,80000.0,No
3,West North Central,1301,Midwest,MN,P,34,19,Born-US,Private-prof,some-college-less1,...,MGR-Facilities Managers,noninstitutional-group,white-alone,female,0.0,8.0,NaN,Minnesota/MN,4800.0,NaN
4,East North Central,1100,Midwest,MI,P,107,24,Born-US,Private-prof,bachelor,...,HLS-Veterinary Assistants And Laboratory Anima...,ref,white-alone,female,0.0,40.0,Multi-Disciplinary Or General Science,Michigan/MI,10000.0,Yes

In [19]:
# try a join

df_2018_inc = df_2018_inc.join(df_inc.set_index('State'), on='state')
df_2018_inc.head()

,Geographic-division,area-code,region,state,RT,person-weight,age,citizenship-status,class-worker,education,...,Incarceration rate per 100000,Incarceration rate: White alone,Incarceration rate: Black or African American alone,Incarceration rate: American Indian and Alaska Native alone,Incarceration rate: Asian alone,Incarceration rate: Native Hawaiian and other Pacific Islander alone,Incarceration rate: Some other race alone,Incarceration rate: Two or more races,Incarceration rate: Hispanic or Latino,"Incarceration rate: White alone, not Hispanic or Latino"
0,New England,704,Northeast,MA,P,88,48,Born-PR-Guam-USvirginislands-northernmarianas,State-gov,GED,...,376.976154,310.660339,1502.308942,981.432361,64.328355,719.748088,387.349214,111.625960,927.581119,241.032739
1,New England,704,Northeast,MA,P,78,47,Born-US,Private-prof,master,...,376.976154,310.660339,1502.308942,981.432361,64.328355,719.748088,387.349214,111.625960,927.581119,241.032739
2,South Atlantic,1101,South,FL,P,51,50,Born-US,Private-prof,bachelor,...,890.645386,610.787515,2554.784187,590.556691,98.720156,293.016441,353.522897,279.531166,536.009466,626.024257
3,West North Central,1301,Midwest,MN,P,34,19,Born-US,Private-prof,some-college-less1,...,384.564261,250.549175,2320.598225,2646.266991,208.183575,881.261595,293.203884,251.708019,959.409889,215.770570
4,East North Central,1100,Midwest,MI,P,107,24,Born-US,Private-prof,bachelor,...,628.139026,388.319031,2168.510714,924.089216,89.421030,268.817204,170.714621,161.080936,588.278432,373.754663

In [20]:
# create new csv of processed data
# this creates a csv that is ~150 MB - too big for Git
df_2018_inc.to_csv('2018_new-var_inc.csv',index=False)