# Joining the 2019 data (with new variables) to incarceration rates by state

In [3]:
import pandas as pd
import numpy as np

In [1]:
!pwd

/Users/anushapraturu/Documents/MIDS/w210/joins

In [9]:
df_2019 = pd.read_csv("../final_data/2019_new-var_mapped_processed.csv")
df_2019.head()

,Geographic-division,area-code,region,state,RT,person-weight,age,citizenship-status,class-worker,education,...,occupation,relationship,race,sex,extra-income,hours-per-week,field-of-degree,place-of-birth,income,stem-degree
0,East South Central,1100,South,AL,P,20,19,Born-US,Private-nonprof,some-college-great1,...,OFF-Customer Service Representatives,38,black-aa-alone,male,0.0,32.0,NaN,Alabama/AL,1400.0,NaN
1,East South Central,2100,South,AL,P,61,39,Born-US,State-gov,bachelor,...,HLS-Personal Care Aides,37,white-alone,female,0.0,40.0,English Language And Literature,Alabama/AL,60000.0,No
2,East South Central,301,South,AL,P,89,19,Born-US,Private-prof,some-college-great1,...,SAL-Cashiers,38,black-aa-alone,male,0.0,31.0,NaN,Alabama/AL,390.0,NaN
3,East South Central,2100,South,AL,P,61,39,Born-US,State-gov,bachelor,...,HLS-Personal Care Aides,37,white-alone,female,0.0,40.0,English Language And Literature,Alabama/AL,60000.0,No
4,East South Central,2000,South,AL,P,49,21,Born-US,Private-prof,some-college-great1,...,"EAT-Hosts And Hostesses, Restaurant, Lounge, A...",38,white-alone,male,0.0,12.0,NaN,New York/NY,4440.0,NaN

In [10]:
df_inc = pd.read_csv("incarceration_rates_2010.csv")
df_inc.head()

,State,Incarceration rate per 100000,Incarceration rate: White alone,Incarceration rate: Black or African American alone,Incarceration rate: American Indian and Alaska Native alone,Incarceration rate: Asian alone,Incarceration rate: Native Hawaiian and other Pacific Islander alone,Incarceration rate: Some other race alone,Incarceration rate: Two or more races,Incarceration rate: Hispanic or Latino,"Incarceration rate: White alone, not Hispanic or Latino"
0,AL,861.491095,552.208375,1788.284447,283.506981,106.353205,98.135427,292.023527,407.011831,766.694324,535.326092
1,AK,592.201692,382.620741,1293.900185,1505.659334,115.379573,661.357808,279.228968,751.807229,649.698082,369.849776
2,AZ,1060.181786,774.781712,3183.685446,2267.231873,642.915759,8135.673624,1690.393795,731.562071,1452.867294,633.366769
3,AR,886.307503,616.596347,2432.345325,750.629270,318.541909,170.561146,555.382591,371.864585,915.345337,592.877101
4,CA,689.341556,605.996084,3036.268547,996.414012,94.424879,617.788428,703.884463,188.775488,756.679936,453.449136

In [11]:
# make a copy of df_2018 that we will join to

df_2019_inc = df_2019.copy()
df_2019_inc.head()

,Geographic-division,area-code,region,state,RT,person-weight,age,citizenship-status,class-worker,education,...,occupation,relationship,race,sex,extra-income,hours-per-week,field-of-degree,place-of-birth,income,stem-degree
0,East South Central,1100,South,AL,P,20,19,Born-US,Private-nonprof,some-college-great1,...,OFF-Customer Service Representatives,38,black-aa-alone,male,0.0,32.0,NaN,Alabama/AL,1400.0,NaN
1,East South Central,2100,South,AL,P,61,39,Born-US,State-gov,bachelor,...,HLS-Personal Care Aides,37,white-alone,female,0.0,40.0,English Language And Literature,Alabama/AL,60000.0,No
2,East South Central,301,South,AL,P,89,19,Born-US,Private-prof,some-college-great1,...,SAL-Cashiers,38,black-aa-alone,male,0.0,31.0,NaN,Alabama/AL,390.0,NaN
3,East South Central,2100,South,AL,P,61,39,Born-US,State-gov,bachelor,...,HLS-Personal Care Aides,37,white-alone,female,0.0,40.0,English Language And Literature,Alabama/AL,60000.0,No
4,East South Central,2000,South,AL,P,49,21,Born-US,Private-prof,some-college-great1,...,"EAT-Hosts And Hostesses, Restaurant, Lounge, A...",38,white-alone,male,0.0,12.0,NaN,New York/NY,4440.0,NaN

In [12]:
# try a join

df_2019_inc = df_2019_inc.join(df_inc.set_index('State'), on='state')
df_2019_inc.head()

,Geographic-division,area-code,region,state,RT,person-weight,age,citizenship-status,class-worker,education,...,Incarceration rate per 100000,Incarceration rate: White alone,Incarceration rate: Black or African American alone,Incarceration rate: American Indian and Alaska Native alone,Incarceration rate: Asian alone,Incarceration rate: Native Hawaiian and other Pacific Islander alone,Incarceration rate: Some other race alone,Incarceration rate: Two or more races,Incarceration rate: Hispanic or Latino,"Incarceration rate: White alone, not Hispanic or Latino"
0,East South Central,1100,South,AL,P,20,19,Born-US,Private-nonprof,some-college-great1,...,861.491095,552.208375,1788.284447,283.506981,106.353205,98.135427,292.023527,407.011831,766.694324,535.326092
1,East South Central,2100,South,AL,P,61,39,Born-US,State-gov,bachelor,...,861.491095,552.208375,1788.284447,283.506981,106.353205,98.135427,292.023527,407.011831,766.694324,535.326092
2,East South Central,301,South,AL,P,89,19,Born-US,Private-prof,some-college-great1,...,861.491095,552.208375,1788.284447,283.506981,106.353205,98.135427,292.023527,407.011831,766.694324,535.326092
3,East South Central,2100,South,AL,P,61,39,Born-US,State-gov,bachelor,...,861.491095,552.208375,1788.284447,283.506981,106.353205,98.135427,292.023527,407.011831,766.694324,535.326092
4,East South Central,2000,South,AL,P,49,21,Born-US,Private-prof,some-college-great1,...,861.491095,552.208375,1788.284447,283.506981,106.353205,98.135427,292.023527,407.011831,766.694324,535.326092

In [14]:
# create new csv of processed data
# this creates a csv that is ~150 MB - too big for Git
df_2019_inc.to_csv('../final_data/2019_new-var_inc.csv',index=False)