# Run Models on 2019 Data Joined with Unemployment
#### 10/30/2020
---

## Load and Process Dataset
### Import Libraries

In [1]:
import pandas as pd
import numpy as np
from sklearn.neighbors import KNeighborsClassifier
from sklearn import preprocessing
from sklearn.linear_model import LinearRegression, LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import classification_report
import matplotlib.pyplot as plt
import wandb
import warnings
warnings.filterwarnings('ignore')

In [2]:
wandb.init(project="2019_newvar_unemployment")

wandb: Currently logged in as: apraturu (use `wandb login --relogin` to force relogin)

### Read in `adult.csv` data

In [5]:
df = pd.read_csv('../final_data/2019_new-var_unemployment.csv').sample(frac=1)
df.head()

,Geographic-division,region,state,RT,person-weight,age,citizenship-status,class-worker,education,marital-status,...,race,sex,extra-income,hours-per-week,field-of-degree,place-of-birth,income,stem-degree,full PUMA,unemployment_rate
331645,South Atlantic,South,11,P,65,38,not-US-citizen,Private-nonprof,master,Married,...,white-alone,male,0.0,40.0,Liberal Arts,Canada,24000.0,No,1100105,2.2
408877,South Atlantic,South,12,P,45,83,naturalized-citizen,State-gov,doctorate,Married,...,white-alone,male,0.0,30.0,Electrical Engineering Technology,Romania,89000.0,No,1209903,4.8
222009,Pacific,West,6,P,146,76,Born-US,Private-prof,some-college-great1,Divorced,...,black-aa-alone,male,10800.0,40.0,NaN,Arkansas/AR,50400.0,NaN,600102,2.6
1017257,Middle Atlantic,Northeast,36,P,95,29,Born-US,Private-prof,master,Married,...,white-alone,female,0.0,38.0,Psychology,New York/NY,29600.0,Yes,3602300,1.7
558258,East North Central,Midwest,17,P,61,25,not-US-citizen,Private-prof,master,Never-married,...,white-alone,male,0.0,40.0,Computer Science,Italy,40000.0,Yes,1703524,2.7

In [6]:
df.loc[df['income'] <= 50000, 'income_adjusted'] = '<=50K'
df.loc[df['income'] > 50000, 'income_adjusted'] = '>50K' 

df = df.drop(columns=['income']).rename(columns={'income_adjusted': 'income'})#.dropna()

# df['med_home_value'] = pd.to_numeric(df['med_home_value'],errors='coerce')

df['field-of-degree'] = df['field-of-degree'].fillna('Unknown')
df['stem-degree'] = df['stem-degree'].fillna('Unknown')
# df['unemployment_rate'] = df['unemployment_rate'].fillna(-1.0)

# df = df.dropna()

df.head()

,Geographic-division,region,state,RT,person-weight,age,citizenship-status,class-worker,education,marital-status,...,race,sex,extra-income,hours-per-week,field-of-degree,place-of-birth,stem-degree,full PUMA,unemployment_rate,income
331645,South Atlantic,South,11,P,65,38,not-US-citizen,Private-nonprof,master,Married,...,white-alone,male,0.0,40.0,Liberal Arts,Canada,No,1100105,2.2,<=50K
408877,South Atlantic,South,12,P,45,83,naturalized-citizen,State-gov,doctorate,Married,...,white-alone,male,0.0,30.0,Electrical Engineering Technology,Romania,No,1209903,4.8,>50K
222009,Pacific,West,6,P,146,76,Born-US,Private-prof,some-college-great1,Divorced,...,black-aa-alone,male,10800.0,40.0,Unknown,Arkansas/AR,Unknown,600102,2.6,>50K
1017257,Middle Atlantic,Northeast,36,P,95,29,Born-US,Private-prof,master,Married,...,white-alone,female,0.0,38.0,Psychology,New York/NY,Yes,3602300,1.7,<=50K
558258,East North Central,Midwest,17,P,61,25,not-US-citizen,Private-prof,master,Never-married,...,white-alone,male,0.0,40.0,Computer Science,Italy,Yes,1703524,2.7,<=50K

In [7]:
# df = df.dropna()

df.isnull().sum()

Geographic-division    0
region                 0
state                  0
RT                     0
person-weight          0
age                    0
citizenship-status     0
class-worker           0
education              0
marital-status         0
occupation             0
relationship           0
race                   0
sex                    0
extra-income           0
hours-per-week         0
field-of-degree        0
place-of-birth         0
stem-degree            0
full PUMA              0
unemployment_rate      0
income                 0
dtype: int64

In [8]:
X = df.drop(columns=['income'], axis = 1)
y = df[['income']].to_numpy()

In [9]:
labels = np.unique(y)
features = list(X.columns)

### Pre-process categorical variables

In [10]:
cat_var = ['Geographic-division', 'region', 'state', 'RT', 'citizenship-status', 'class-worker', 'education', 'marital-status', 'occupation', 'relationship', 'race', 'sex', 'field-of-degree', 'place-of-birth', 'stem-degree']
for f in cat_var:
    enc = preprocessing.LabelEncoder()
    X[f] = enc.fit_transform(X[f])

scaler = preprocessing.StandardScaler()
X = pd.DataFrame(scaler.fit_transform(X), columns = X.columns)

### Split data into test and training

In [11]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [12]:
len(X_test)

334460

## Train Models and Establish Baseline Scores

### Logistic Regression

In [13]:
# Train model, get predictions
model = LogisticRegression()
model.fit(X, y)
y_pred = model.predict(X_test)
y_probas = model.predict_proba(X_test)
importances = model.coef_
indices = np.argsort(importances)[::-1]

In [14]:
print(X_train.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1337840 entries, 160281 to 1265040
Data columns (total 21 columns):
 #   Column               Non-Null Count    Dtype
---  ------               --------------    -----
 0   Geographic-division  1337840 non-null  float64
 1   region               1337840 non-null  float64
 2   state                1337840 non-null  float64
 3   RT                   1337840 non-null  float64
 4   person-weight        1337840 non-null  float64
 5   age                  1337840 non-null  float64
 6   citizenship-status   1337840 non-null  float64
 7   class-worker         1337840 non-null  float64
 8   education            1337840 non-null  float64
 9   marital-status       1337840 non-null  float64
 10  occupation           1337840 non-null  float64
 11  relationship         1337840 non-null  float64
 12  race                 1337840 non-null  float64
 13  sex                  1337840 non-null  float64
 14  extra-income         1337840 non-null  float64
 15  hours-per-week       1337840 non-null  float64
 16  field-of-degree      1337840 non-null  float64
 17  place-of-birth       1337840 non-null  float64
 18  stem-degree          1337840 non-null  float64
 19  full PUMA            1337840 non-null  float64
 20  unemployment_rate    1337840 non-null  float64
dtypes: float64(21)
memory usage: 224.6 MB
None

In [15]:
# Visualize model performance
wandb.sklearn.plot_classifier(
    model, X_train, X_test, y_train, y_test, y_pred, y_probas, labels,
    is_binary=True, model_name='LogisticRegression', feature_names=features)

wandb:
wandb: Plotting LogisticRegression.
wandb: Logged feature importances.
wandb: Logged learning curve.
wandb: Logged confusion matrix.
wandb: Logged summary metrics.
wandb: Logged class proportions.
wandb: Logged calibration curve.
wandb: WARNING wandb uses only the first 10000 datapoints to create the plots.
wandb: WARNING wandb uses only the first 10000 datapoints to create the plots.
WARNING:root:Truncating wandb.Table object to 10000 rows.
wandb: Logged roc curve.
wandb: Logged precision recall curve.

In [16]:
print(classification_report(y_test, y_pred, target_names=labels))

              precision    recall  f1-score   support

       <=50K       0.77      0.84      0.80    202218
        >50K       0.72      0.62      0.66    132242

    accuracy                           0.75    334460
   macro avg       0.74      0.73      0.73    334460
weighted avg       0.75      0.75      0.75    334460