# Run Models on 2019 Data Joined with Health Insurance Coverage
#### 10/30/2020
---

## Load and Process Dataset
### Import Libraries

In [1]:
import pandas as pd
import numpy as np
from sklearn.neighbors import KNeighborsClassifier
from sklearn import preprocessing
from sklearn.linear_model import LinearRegression, LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import classification_report
import matplotlib.pyplot as plt
import wandb
import warnings
warnings.filterwarnings('ignore')

In [2]:
wandb.init(project="2019_newvar_health-insurance")

wandb: Currently logged in as: apraturu (use `wandb login --relogin` to force relogin)

### Read in `adult.csv` data

In [3]:
df = pd.read_csv('../final_data/2019_new-var_health-insurance-coverage.csv').sample(frac=1)
df.head()

,Geographic-division,region,state,RT,person-weight,age,citizenship-status,class-worker,education,marital-status,...,sex,extra-income,hours-per-week,field-of-degree,place-of-birth,income,stem-degree,full PUMA,insured_rate,uninsured_rate
329937,South Atlantic,South,11,P,70,57,Born-US,Fed-gov,some-college-less1,Never-married,...,male,0.0,40.0,NaN,District of Columbia/DC,45000.0,NaN,1100103,96.2,3.8
121545,Pacific,West,6,P,62,55,Born-US,Private-nonprof,bachelor,Married,...,male,9700.0,38.0,Nursing,Rhode Island/RI,155700.0,No,603706,89.8,10.2
365896,South Atlantic,South,12,P,102,54,Born-US,Private-prof,grade12-nograd,Married,...,female,0.0,40.0,NaN,Florida/FL,19000.0,NaN,1208606,80.3,19.7
771805,East North Central,Midwest,26,P,82,65,Born-US,Private-prof,grade9,Married,...,male,0.0,25.0,NaN,Michigan/MI,159890.0,NaN,2602901,96.7,3.3
854994,West North Central,Midwest,29,P,19,34,Born-US,Self-emp-inc,some-college-less1,Married,...,female,0.0,40.0,NaN,Missouri/MO,30000.0,NaN,2901500,89.0,11.0

In [4]:
df.loc[df['income'] <= 50000, 'income_adjusted'] = '<=50K'
df.loc[df['income'] > 50000, 'income_adjusted'] = '>50K' 

df = df.drop(columns=['income']).rename(columns={'income_adjusted': 'income'})#.dropna()

df['field-of-degree'] = df['field-of-degree'].fillna('Unknown')
df['stem-degree'] = df['stem-degree'].fillna('Unknown')
# df['insured_rate'] = df['insured_rate'].fillna(-1.0)
# df['uninsured_rate'] = df['uninsured_rate'].fillna(-1.0)

# df = df.dropna()

df.head()

,Geographic-division,region,state,RT,person-weight,age,citizenship-status,class-worker,education,marital-status,...,sex,extra-income,hours-per-week,field-of-degree,place-of-birth,stem-degree,full PUMA,insured_rate,uninsured_rate,income
329937,South Atlantic,South,11,P,70,57,Born-US,Fed-gov,some-college-less1,Never-married,...,male,0.0,40.0,Unknown,District of Columbia/DC,Unknown,1100103,96.2,3.8,<=50K
121545,Pacific,West,6,P,62,55,Born-US,Private-nonprof,bachelor,Married,...,male,9700.0,38.0,Nursing,Rhode Island/RI,No,603706,89.8,10.2,>50K
365896,South Atlantic,South,12,P,102,54,Born-US,Private-prof,grade12-nograd,Married,...,female,0.0,40.0,Unknown,Florida/FL,Unknown,1208606,80.3,19.7,<=50K
771805,East North Central,Midwest,26,P,82,65,Born-US,Private-prof,grade9,Married,...,male,0.0,25.0,Unknown,Michigan/MI,Unknown,2602901,96.7,3.3,>50K
854994,West North Central,Midwest,29,P,19,34,Born-US,Self-emp-inc,some-college-less1,Married,...,female,0.0,40.0,Unknown,Missouri/MO,Unknown,2901500,89.0,11.0,<=50K

In [5]:
# df = df.dropna()

df.isnull().sum()

Geographic-division    0
region                 0
state                  0
RT                     0
person-weight          0
age                    0
citizenship-status     0
class-worker           0
education              0
marital-status         0
occupation             0
relationship           0
race                   0
sex                    0
extra-income           0
hours-per-week         0
field-of-degree        0
place-of-birth         0
stem-degree            0
full PUMA              0
insured_rate           0
uninsured_rate         0
income                 0
dtype: int64

In [6]:
X = df.drop(columns=['income'], axis = 1)
y = df[['income']].to_numpy()

In [7]:
labels = np.unique(y)
features = list(X.columns)

### Pre-process categorical variables

In [8]:
cat_var = ['Geographic-division', 'region', 'state', 'RT', 'citizenship-status', 'class-worker', 'education', 'marital-status', 'occupation', 'relationship', 'race', 'sex', 'field-of-degree', 'place-of-birth', 'stem-degree']
for f in cat_var:
    enc = preprocessing.LabelEncoder()
    X[f] = enc.fit_transform(X[f])

scaler = preprocessing.StandardScaler()
X = pd.DataFrame(scaler.fit_transform(X), columns = X.columns)

### Split data into test and training

In [9]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [10]:
len(X_test)

334460

## Train Models and Establish Baseline Scores

### Logistic Regression

In [11]:
# Train model, get predictions
model = LogisticRegression()
model.fit(X, y)
y_pred = model.predict(X_test)
y_probas = model.predict_proba(X_test)
importances = model.coef_
indices = np.argsort(importances)[::-1]

In [12]:
print(X_train.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1337840 entries, 1376908 to 884360
Data columns (total 22 columns):
 #   Column               Non-Null Count    Dtype
---  ------               --------------    -----
 0   Geographic-division  1337840 non-null  float64
 1   region               1337840 non-null  float64
 2   state                1337840 non-null  float64
 3   RT                   1337840 non-null  float64
 4   person-weight        1337840 non-null  float64
 5   age                  1337840 non-null  float64
 6   citizenship-status   1337840 non-null  float64
 7   class-worker         1337840 non-null  float64
 8   education            1337840 non-null  float64
 9   marital-status       1337840 non-null  float64
 10  occupation           1337840 non-null  float64
 11  relationship         1337840 non-null  float64
 12  race                 1337840 non-null  float64
 13  sex                  1337840 non-null  float64
 14  extra-income         1337840 non-null  float64
 15  hours-per-week       1337840 non-null  float64
 16  field-of-degree      1337840 non-null  float64
 17  place-of-birth       1337840 non-null  float64
 18  stem-degree          1337840 non-null  float64
 19  full PUMA            1337840 non-null  float64
 20  insured_rate         1337840 non-null  float64
 21  uninsured_rate       1337840 non-null  float64
dtypes: float64(22)
memory usage: 234.8 MB
None

In [13]:
# Visualize model performance
wandb.sklearn.plot_classifier(
    model, X_train, X_test, y_train, y_test, y_pred, y_probas, labels,
    is_binary=True, model_name='LogisticRegression', feature_names=features)

wandb:
wandb: Plotting LogisticRegression.
wandb: Logged feature importances.
wandb: Logged learning curve.
wandb: Logged confusion matrix.
wandb: Logged summary metrics.
wandb: Logged class proportions.
wandb: Logged calibration curve.
wandb: WARNING wandb uses only the first 10000 datapoints to create the plots.
wandb: WARNING wandb uses only the first 10000 datapoints to create the plots.
WARNING:root:Truncating wandb.Table object to 10000 rows.
wandb: Logged roc curve.
wandb: Logged precision recall curve.

In [14]:
print(classification_report(y_test, y_pred, target_names=labels))

              precision    recall  f1-score   support

       <=50K       0.77      0.84      0.81    201731
        >50K       0.72      0.63      0.67    132729

    accuracy                           0.76    334460
   macro avg       0.75      0.73      0.74    334460
weighted avg       0.75      0.76      0.75    334460