# Run Models on 2019 Data Joined with Educational Attainment
#### 10/30/2020
---

## Load and Process Dataset
### Import Libraries

In [1]:
import pandas as pd
import numpy as np
from sklearn.neighbors import KNeighborsClassifier
from sklearn import preprocessing
from sklearn.linear_model import LinearRegression, LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import classification_report
import matplotlib.pyplot as plt
import wandb
import warnings
warnings.filterwarnings('ignore')

In [2]:
wandb.init(project="2019_newvar_educational-attainment")

wandb: Currently logged in as: apraturu (use `wandb login --relogin` to force relogin)

### Read in `adult.csv` data

In [11]:
df = pd.read_csv('../final_data/2019_new-var_educational_attainment.csv').sample(frac=1)
df.head()

,Geographic-division,region,state,RT,person-weight,age,citizenship-status,class-worker,education,marital-status,...,full PUMA,less_than_9th,9th_to_12th,hs_grad,some_college,associates_degree,bach_degree,grad_or_prof_degree,hs_or_higher,bach_degree_or_higher
976346,West North Central,Midwest,27,P,20,30,Born-US,Private-nonprof,some-college-great1,Never-married,...,2702000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
903823,New England,Northeast,25,P,95,68,Born-US,Private-prof,prof-school,Widowed,...,2500501,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
972698,East North Central,Midwest,26,P,57,68,not-US-citizen,Local-gov,associate,Divorced,...,2601400,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
842259,West South Central,South,22,P,35,39,Born-US,Self-emp-not-inc,some-college-great1,Married,...,2202300,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
613007,South Atlantic,South,13,P,66,34,Born-US,Private-prof,bachelor,Married,...,1302800,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
df.loc[df['income'] <= 50000, 'income_adjusted'] = '<=50K'
df.loc[df['income'] > 50000, 'income_adjusted'] = '>50K' 

df = df.drop(columns=['income']).rename(columns={'income_adjusted': 'income'})#.dropna()

df['field-of-degree'] = df['field-of-degree'].fillna('Unknown')
df['stem-degree'] = df['stem-degree'].fillna('Unknown')
df['less_than_9th'] = df['less_than_9th'].fillna(-1.0)
df['9th_to_12th'] = df['9th_to_12th'].fillna(-1.0)
df['hs_grad'] = df['hs_grad'].fillna(-1.0)
df['some_college'] = df['some_college'].fillna(-1.0)
df['associates_degree'] = df['associates_degree'].fillna(-1.0)
df['bach_degree'] = df['bach_degree'].fillna(-1.0)
df['grad_or_prof_degree'] = df['grad_or_prof_degree'].fillna(-1.0)
df['hs_or_higher'] = df['hs_or_higher'].fillna(-1.0)
df['bach_degree_or_higher'] = df['bach_degree_or_higher'].fillna(-1.0)

# df = df.dropna()

df.head()

,Geographic-division,region,state,RT,person-weight,age,citizenship-status,class-worker,education,marital-status,...,less_than_9th,9th_to_12th,hs_grad,some_college,associates_degree,bach_degree,grad_or_prof_degree,hs_or_higher,bach_degree_or_higher,income
976346,West North Central,Midwest,27,P,20,30,Born-US,Private-nonprof,some-college-great1,Never-married,...,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,<=50K
903823,New England,Northeast,25,P,95,68,Born-US,Private-prof,prof-school,Widowed,...,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,>50K
972698,East North Central,Midwest,26,P,57,68,not-US-citizen,Local-gov,associate,Divorced,...,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,<=50K
842259,West South Central,South,22,P,35,39,Born-US,Self-emp-not-inc,some-college-great1,Married,...,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,>50K
613007,South Atlantic,South,13,P,66,34,Born-US,Private-prof,bachelor,Married,...,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,>50K

In [13]:
# df = df.dropna()
# df.shape

df.isnull().sum()

Geographic-division      0
region                   0
state                    0
RT                       0
person-weight            0
age                      0
citizenship-status       0
class-worker             0
education                0
marital-status           0
occupation               0
relationship             0
race                     0
sex                      0
extra-income             0
hours-per-week           0
field-of-degree          0
place-of-birth           0
stem-degree              0
full PUMA                0
less_than_9th            0
9th_to_12th              0
hs_grad                  0
some_college             0
associates_degree        0
bach_degree              0
grad_or_prof_degree      0
hs_or_higher             0
bach_degree_or_higher    0
income                   0
dtype: int64

In [14]:
X = df.drop(columns=['income'], axis = 1)
y = df[['income']].to_numpy()

In [15]:
labels = np.unique(y)
features = list(X.columns)

### Pre-process categorical variables

In [16]:
cat_var = ['Geographic-division', 'region', 'state', 'RT', 'citizenship-status', 'class-worker', 'education', 'marital-status', 'occupation', 'relationship', 'race', 'sex', 'field-of-degree', 'place-of-birth', 'stem-degree']
for f in cat_var:
    enc = preprocessing.LabelEncoder()
    X[f] = enc.fit_transform(X[f])

scaler = preprocessing.StandardScaler()
X = pd.DataFrame(scaler.fit_transform(X), columns = X.columns)

### Split data into test and training

In [17]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [18]:
len(X_test)

367859

## Train Models and Establish Baseline Scores

### Logistic Regression

In [19]:
# Train model, get predictions
model = LogisticRegression()
model.fit(X, y)
y_pred = model.predict(X_test)
y_probas = model.predict_proba(X_test)
importances = model.coef_
indices = np.argsort(importances)[::-1]

In [20]:
print(X_train.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1471436 entries, 1087257 to 313042
Data columns (total 29 columns):
 #   Column                 Non-Null Count    Dtype
---  ------                 --------------    -----
 0   Geographic-division    1471436 non-null  float64
 1   region                 1471436 non-null  float64
 2   state                  1471436 non-null  float64
 3   RT                     1471436 non-null  float64
 4   person-weight          1471436 non-null  float64
 5   age                    1471436 non-null  float64
 6   citizenship-status     1471436 non-null  float64
 7   class-worker           1471436 non-null  float64
 8   education              1471436 non-null  float64
 9   marital-status         1471436 non-null  float64
 10  occupation             1471436 non-null  float64
 11  relationship           1471436 non-null  float64
 12  race                   1471436 non-null  float64
 13  sex                    1471436 non-null  float64
 14  extra-income           1471436 non-null  float64
 15  hours-per-week         1471436 non-null  float64
 16  field-of-degree        1471436 non-null  float64
 17  place-of-birth         1471436 non-null  float64
 18  stem-degree            1471436 non-null  float64
 19  full PUMA              1471436 non-null  float64
 20  less_than_9th          1471436 non-null  float64
 21  9th_to_12th            1471436 non-null  float64
 22  hs_grad                1471436 non-null  float64
 23  some_college           1471436 non-null  float64
 24  associates_degree      1471436 non-null  float64
 25  bach_degree            1471436 non-null  float64
 26  grad_or_prof_degree    1471436 non-null  float64
 27  hs_or_higher           1471436 non-null  float64
 28  bach_degree_or_higher  1471436 non-null  float64
dtypes: float64(29)
memory usage: 336.8 MB
None

In [22]:
# Visualize model performance
wandb.sklearn.plot_classifier(
    model, X_train, X_test, y_train, y_test, y_pred, y_probas, labels,
    is_binary=True, model_name='LogisticRegression', feature_names=features)

wandb:
wandb: Plotting LogisticRegression.
wandb: Logged feature importances.
wandb: Logged learning curve.
wandb: Logged confusion matrix.
wandb: Logged summary metrics.
wandb: Logged class proportions.
wandb: Logged calibration curve.
wandb: WARNING wandb uses only the first 10000 datapoints to create the plots.
wandb: WARNING wandb uses only the first 10000 datapoints to create the plots.
WARNING:root:Truncating wandb.Table object to 10000 rows.
wandb: Logged roc curve.
wandb: Logged precision recall curve.

In [21]:
print(classification_report(y_test, y_pred, target_names=labels))

              precision    recall  f1-score   support

       <=50K       0.77      0.84      0.81    223383
        >50K       0.72      0.62      0.66    144476

    accuracy                           0.75    367859
   macro avg       0.74      0.73      0.73    367859
weighted avg       0.75      0.75      0.75    367859